.entries-container {
  padding: 50px 0;
  margin: 0 auto;
  width: max-content;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-bottom: 25px;
}

.search-container input {
  font-size: 1.1em;
  padding: 5px 10px;
  border: 1px solid var(--light2-color);
  border-radius: 5px;
}

.search-container button {
  width: 30px;
  padding: 5px;
  border-radius: 20%;
  border: none;
  background-color: var(--light2-color);
  cursor: pointer;
  transition: 0.3s ease;
}

.search-container button:hover {
  background-color: var(--light1-color);
}

.entries-container table {
  border: 1px solid grey;
  margin: 0 auto;
  width: 500px;
  text-align: left;
  border-collapse: collapse;
}

.entries-container thead {
  background-color: var(--light2-color);
  color: whitesmoke;
}

.entries-container th,
.entries-container td {
  padding: 10px;
}

.th-content {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.arrow-span {
  font-size: 0.6em;
}

.entries-container tbody {
  color: lightgray;
}

.entries-container tr {
  border: 1px solid grey;
  cursor: pointer;
}

.entries-container tr:hover {
  background-color: rgba(255, 255, 255, 0.073);
}

.entries-container th:first-child,
.entries-container td:first-child {
  width: 25%;
}

.actions-cell {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.actions-cell button {
  width: 25px;
  height: 25px;
  padding: 4px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.actions-cell button:hover {
  background-color: var(--light1-color);
}

.actions-cell .trash-btn:hover {
  background-color: #58171e;
}

/* Single Entry Styles */
.entry-container {
  padding: 50px 0;
}

.entry-content {
  width: 80%;
  margin: 0 auto;
  color: #222;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
}

.entry-content h2 {
  font-size: 2em;
  padding-bottom: 5px;
}

.entry-content p:first-of-type {
  color: grey;
}

.entry-content img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin: 20px 0;
}

.entry-payload {
  white-space: pre-line;
}

.entry-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.entry-btn-container button,
.btn-container button {
  font-size: 1.1em;
  padding: 5px 15px;
  width: 120px;
  background-color: var(--light1-color);
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  transition: 0.3s ease;
}

.entry-btn-container button:hover,
.btn-container button:hover {
  background-color: var(--light2-color);
}

/* New Entry styles */
.new-entry-container {
  padding: 50px 0;
  text-align: center;
}

.new-entry-container > h2 {
  font-size: 1.8em;
  text-decoration: underline;
}

.new-entry-container form {
  width: 70%;
  margin: 25px auto;
  background-color: whitesmoke;
  color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 25px 0;
  border-radius: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 0 40px;
  gap: 5px;
}

.input-container label {
  font-size: 1.1em;
  font-weight: 600;
}

.input-container input,
.input-container textarea {
  width: 100%;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
}

.input-container input:focus,
.input-container textarea:focus {
  outline: none;
  border: 1px solid black;
}

.input-container textarea {
  resize: none;
}

.img-container {
  width: 50%;
  margin: 0 auto;
}

.img-container img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid black;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 0;
  width: 100%;
}

.btn-container .cancel-btn:hover {
  background-color: #58171e;
}
