:root {
  --main-color: #112735;
  --light1-color: #32404a;
  --light2-color: #535a61;
  --light3-color: #cfd3d7;
  --light4-color: #e7e9eb;
  --dark-color: #0e1920;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  color: whitesmoke;
  font-family: system-ui;
}
